.background {
    background-image: url('background.png')
}

.body {
    position: relative;
    background-color: aqua;
}
.na{
    position: absolute;
    top:1px;
    left:100px;
}
.coder {
    color: red;
}

.platform {
    color: rgb(160, 92, 194)
}

.contact {
    position: absolute;
    top: 2%;
    right: 20%;
}

.no-outline {
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    border-bottom-style: groove;
}

.login-register {
    position: absolute;
    top: 1%;
    right: 3%;
    background-color: white;
}

.breadcrumb {
    background-color: white;
}

.dr {
    position: relative;
}

.ca {
    position: absolute;
    bottom: 0;
    right: 10px;
}